.country-deathAmount {
  color: rgb(152, 152, 152);
  font-weight: bold;
  text-align: end;

  display: flex;
  align-items: center;
}

.country-title {
  text-align: start;
  max-width: 70%;
}

@media (max-width: 1300px) and (min-width: 450px) {
  .country-item-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .country-title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 3px;
  }
}
